@charset "UTF-8";
/*设置图片的属性*/
.photo {
	float: inherit;
	float: right;
	width: 40%;
}

.intro {
	float: left;
	width: 60%;
}

body {
	width: 1000px;
	margin: auto;
}
.mydiv{
	margin : auto;
	/*border :1px solid black;*/
	width :200px;
	height:50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.mydiv1{
	margin : auto;
	/*border :1px solid black;*/
	width :250px;
	height:50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
